section.hero.grad-bg
  div.hero-inner
    h1.hero-heading My name is Ethan.
    small.hero-excerpt I like
      ul.hero-list
        li.hero-listitem making things.
        li.hero-listitem Rasheed Wallace.
        li.hero-listitem whiteboards.
        li.hero-listitem dad hats.
        li.hero-listitem feeling like I earned a beer.
        li.hero-listitem making things.
